<div class="login-container">
  <h2>Login</h2>
  
  
  <!-- Formulário de login -->
  <form (ngSubmit)="onLogin()">
    <label for="user">Usuário</label>
    <input id="user" type="text" [(ngModel)]="user" name="user" required />

    <label for="password">Senha</label>
    <input id="password" type="password" [(ngModel)]="password" name="password" required />

    <!-- Mensagem de erro -->
    <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
   </div>


    <div class="buttons">
    <button type="submit" class = "enter-button" [disabled]="loading">Entrar</button>
    <button type="button" class="menu-button" (click)="voltarAoMenu()">Voltar ao Menu</button>
    </div> 
    
  </form>

  <!-- Loading spinner durante a tentativa de login -->
  <div *ngIf="loading" class="loading-spinner">
    Carregando...
  </div>
  

</div>
