<div class="form-container">
  <h2>Cadastrar Usuário</h2>
  <form (ngSubmit)="cadastrarUsuario()">
    <div>
      <label for="nome">Nome:</label>
      <input
        type="text"
        id="nome"
        [(ngModel)]="usuario.Nome"
        name="nome"
        required
      />
    </div>
    <div>
      <label for="cpf">CPF:</label>
      <input
        type="text"
        id="cpf"
        [(ngModel)]="usuario.CPF"
        name="cpf"
        required
      />
    </div>
    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="usuario.Email"
        name="email"
        required
      />
    </div>
    <div>
      <label for="senha">Senha:</label>
      <input
        type="password"
        id="senha"
        [(ngModel)]="usuario.Senha"
        name="senha"
        required
      />
    </div>
    <div>
      <label for="tipoConta">Tipo de Conta:</label>
      <select id="tipoConta" [(ngModel)]="usuario.TipoConta" name="tipoConta" required>
        <option value="Corrente">Corrente</option>
        <option value="Poupança">Poupança</option>
      </select>
    </div>
    <div class="buttons">
      <button type="submit" class="save-button">Salvar</button>
      <button type="button" class="menu-button" (click)="voltarAoMenu()">Voltar ao Menu</button>
    </div>
  </form>
  <p *ngIf="mensagemSucesso" class="success-message">{{ mensagemSucesso }}</p>
  <p *ngIf="mensagemErro" class="error-message">{{ mensagemErro }}</p>
</div>
