/* Destaque para o link ativo no menu */
.menu ul li a.active {
    font-weight: bold;
    color: #48920c; /* Destaque visual */
  }
  
  /* Menu lateral responsivo */
  .menu {
    width: 80%; /* Em telas menores, ocupa 80% da largura */
    max-width: 300px; /* Em telas maiores, não passa de 300px */
  }
  
  /* Tornar o layout responsivo */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    header {
      flex-direction: column; /* Empilha itens em telas menores */
      align-items: center; /* Centraliza os itens no cabeçalho */
    }
  
    .menu {
      top: 0; /* Garante que o menu fique no topo em telas pequenas */
      width: 100%; /* Faz o menu ocupar toda a largura */
    }
  }
  